<li>
    <input type="checkbox" id="{{regionName}}{{idPrefix}}--{{name}}" value="{{regionName}}--{{name}}" {{optionChecked checkedInd fieldValue currentValue}}>
    <label for="{{regionName}}{{idPrefix}}--{{name}}">{{label}}</label>
</li>