<div class="adf-checkbox-wrapper">
    <input type="checkbox" id="adf-checkbox-{{../name}}-{{this.value}}" name="{{../name}}" value="{{this.value}}" {{optionChecked selectedInd value ../currentValue}}>
    <label for="adf-checkbox-{{../name}}-{{this.value}}">{{this.label}}</label>
</div>