<a
    href="{{url}}"
    class="btn btn-{{type}} {{actionClass}}"
    data-action-type="{{type}}"
    title="{{type}}"
    {{#each dataAttributes}}
        data-{{name}}="{{value}}"
    {{/each}}
>
<svg viewBox="0 0 32 32" class="icon">
    <use xlink:href="#icon-{{type}}"></use>
</svg>
<span>
    {{{label}}}
</span>
</a>