<li>
	<input type="checkbox" id="{{#if parent}}{{parent}}-{{/if}}{{name}}" value="{{name}}" {{#if checked}}checked{{/if}}>
	<label for="{{#if parent}}{{parent}}-{{/if}}{{name}}">{{label}}</label>
</li>