<li>
    <input type="checkbox" id="{{#if regionName}}{{regionName}}--{{/if}}{{name}}" value="{{#if regionName}}{{regionName}}--{{/if}}{{name}}" {{#if checked}}checked{{/if}}>
    <label for="{{#if regionName}}{{regionName}}--{{/if}}{{name}}">{{label}}</label>
</li>