<li>
    <input type="checkbox" id="{{regionName}}--{{name}}" value="{{regionName}}--{{name}}" {{optionChecked checkedAttr fieldValue currentValue}}>
    <label for="{{regionName}}--{{name}}">{{label}}</label>
</li>