<div class="{{wrapClass}} dropdown-wrapper">
    <div class="dropdown-inner">
        {{#if buttonLabel}}
            <button type="button" class="dropdown-toggle dropdown-label">{{buttonLabel}}</button>
        {{/if}}
        <button type="button" class="dropdown-toggle-caret dropdown-toggle">
            {{#if caretSvg}}
                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#icon-{{caretSvg}}"></use>
                </svg>
            {{/if}}
        </button>
        <div class="dropdown-menu hide">
            <div class="dropdown-menu-mouse-padding"></div>
            <ul class="dropdown-item-group primary-options"></ul>
            <ul class="dropdown-item-group footer-options">{{#if footerOptions}}
                {{#each footerOptions}}
                    <li>
                        <a
                            href="{{href}}"
                            class="{{itemClass}}"
                            {{#each dataAttributes}}
                                data-{{name}}="{{value}}"
                            {{/each}}
                            >
                            {{{label}}}
                        </a>
                    </li>
                {{/each}}
            {{/if}}</ul>
            {{#if textFilterInput}}
                <input type="search" class="dropdown-text-filter">
            {{/if}}
        </div>
  	</div>
</div>