{{#if html_prefix}}
	<div class="form-row row">
		<div class="grid-spacer layout-grid-3">&nbsp;</div>
		<div class="form-input-notes layout-grid-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, placeat!</div>
	</div>
{{/if}}
<div
    class="form-row row {{wrapClass}}"
    id="{{#if regionName}}regionName--{{/if}}{{name}}-field-wrap"
    data-field-master-id="{{fldMstrId}}"
    >

    <label for="{{name}}" class="layout-grid-3">{{label}}</label>
    <div class="form-input layout-grid-6 layout-grid">
        {{{inputField}}}
        {{#if tooltip}}
            <span class="form-input-addon icon-tooltip icon form-tooltip tooltip-icon-inline"><span class="tooltip">{{{tooltip}}}</span></span>
        {{/if}}
    </div>
</div>
{{#if html_suffix}}
	<div class="form-row row">
		<div class="grid-spacer layout-grid-3">&nbsp;</div>
		<div class="form-input-notes layout-grid-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, placeat!</div>
	</div>
{{/if}}
