<th data-column-select-priority="{{columnSelectPriority}}" id="{{name}}" data-column-index="{{colIndex}}" class="{{#if tooltip}}has-tooltip{{/if}}">
    {{{label}}}
  	{{#if tooltip}}
        <i class="icon icon-tooltip">
		    <span class="tooltip">
		      	{{{tooltip}}}
	    	</span>
    	</i>
  	{{/if}}
</th>