<th
        data-column-select-priority="{{fieldPriority}}"
        data-column-name="{{name}}"
        data-column-index="{{colIndex}}"
        id="{{regionName}}--{{name}}"
        class="
                {{wrapClass}}
                {{#if sortable}} is-sortable{{/if}}
        ">

    {{#if sortable}}
        <span class="sort-control sort-indicator"></span>
    {{/if}}

    <span class="sort-control">{{{label}}}</span>

    {{#if tooltipText}}
        <span class="adf-header-control tooltip-trigger">
            <span class="icon icon-tooltip">
                <svg viewBox="0 0 32 32" class="icon tooltip-trigger">
                        <use xlink:href="#icon-question-circle"></use>
                </svg>
                <span class="tooltip">
                    {{{tooltipText}}}
                </span>
            </span>
        </span>
    {{/if}}

    <span type="button" class="adf-header-control resize-control"></span>
</th>