<div
    id="{{name}}"
    {{#each dataAttributes}}
        data-{{name}}="{{value}}"
    {{/each}}
    >
    {{#each data}}
        <input type="radio" name="{{../name}}" value="{{this.value}}" {{optionSelected value ../currentValue}}>{{this.label}}
    {{/each}}
</div>