<div
    id="{{name}}"
    {{#each dataAttributes}}
        data-{{name}}="{{value}}"
    {{/each}}
    class="{{fieldClass}}"
    >
    {{#each data}}
        <div class="adf-radio-wrapper">
        	<input type="radio" id="adf-radio-{{../name}}-{{this.value}}" name="{{../name}}" value="{{this.value}}" {{optionSelected selectedBln value ../currentValue}}>
            <label for="adf-checkbox-{{../name}}-{{this.value}}">{{this.label}}</label>
        </div>
    {{/each}}
</div>