<div
    class="adf-checkbox-wrapper {{fieldClass}}"
    id="{{name}}"
    {{#each dataAttributes}}
        data-{{name}}="{{value}}"
    {{/each}}
    >
    {{#each data}}
        <input type="checkbox" name="{{../name}}" value="{{this.value}}" {{optionSelected value ../currentValue}}>{{this.label}}
    {{/each}}
</div>