<select
    class="select2 {{fieldClass}}"
    name="{{name}}" {{#if multiple}}multiple{{/if}}
        {{#each dataAttributes}}
            data-{{name}}="{{value}}"
        {{/each}}
    >
    {{#unless required}}
      <option></option>
    {{/unless}}
    {{#each data}}
      <option value="{{this.value}}" {{#if tooltip}} data-tooltip="{{tooltip}}" {{/if}} {{optionSelected selectedBln this.value ../currentValue}}>{{#if this.label}}{{this.label}}{{else}}{{this.value}}{{/if}}</option>
    {{/each}}
  </select><!-- /.select2 -->
