<div class="ajax-suggest-wrapper">

    <input
        type="text"
        class="{{fieldClass}} ajax-suggest"
        id="{{name}}--display"
        name="{{name}}--display"
        value="{{selectFancyDisplayText currentValue data}}"
        autocomplete="off"
        {{#each dataAttributes}}
                {{dataAttributeWrite name value 'formInput'}}
        {{/each}}
        >
    <input type="hidden" class="adf-form-input" name="{{name}}" id="{{name}}" value="{{currentValue}}">
    <button class="ajax-suggest-control toggle" tabindex="-1">
        <svg viewBox="0 0 32 32" class="icon icon-chevron-down">
            <use xlink:href="#icon-chevron-down"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="icon icon-chevron-up">
            <use xlink:href="#icon-chevron-up"></use>
        </svg>
    </button>
    <ul class="ajax-suggest-options"></ul>
</div><!-- /.ajax-suggest-wrapper -->