<div
    class="adf-checkboxes-wrapper adf-input-wrapper adf-form-input {{fieldClass}}"
    id="{{name}}"
    {{#each dataAttributes}}
        {{dataAttributeWrite name value 'input'}}
    {{/each}}
    >
    {{checkboxesSelectAll dataAttributes}}
    {{{checkboxesListing data dataAttributes}}}
</div>