  <span
    {{#each dataAttributes}}
        data-{{name}}="{{value}}"
    {{/each}}
    >
    <span>{{{currentValue}}}</span>
    <input class="adf-form-input" type="hidden" name="{{name}}" value="{{currentValue}}">
  </span>
