<div class="select-fancy-wrapper">

    <input
        type="text"
        class="{{fieldClass}} select-fancy"
        id="{{name}}--display"
        name="{{name}}--display"
        value="{{selectFancyDisplayText currentValue data}}"
        autocomplete="off"
        {{#each dataAttributes}}
                {{dataAttributeWrite name value 'formInput'}}
        {{/each}}
        >
    <input type="hidden" class="adf-form-input" name="{{name}}" id="{{name}}" value="{{currentValue}}">
    <button class="select-fancy-control clear" tabindex="-1">
        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#icon-close"></use>
        </svg>
    </button>
    <button class="select-fancy-control toggle" tabindex="-1">
        <svg viewBox="0 0 32 32" class="icon icon-chevron-down">
            <use xlink:href="#icon-chevron-down"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="icon icon-chevron-up">
            <use xlink:href="#icon-chevron-up"></use>
        </svg>
    </button>
    <table class="select-fancy-options">
        <thead></thead>
        <tbody></tbody>
    </table>
</div><!-- /.select-fancy-wrapper -->