<select
    class="{{fieldClass}} adf-form-input"
    name="{{name}}" {{dataAttributeBoolean dataAttributes 'multiple' 'multiple'}}
        {{#each dataAttributes}}
            {{dataAttributeWrite name value 'formInput'}}
        {{/each}}
    >
    {{#unless required}}
      <option></option>
    {{/unless}}
    {{#each data}}
		<option value="{{this.value}}" {{#if tooltip}} data-tooltip="{{tooltip}}" {{/if}} {{optionSelected selectedInd this.value currentValue}}>{{#if this.label}}{{this.label}}{{else}}{{this.value}}{{/if}}</option>
    {{/each}}
</select>