<td 
    data-column-select-priority="{{fieldPriority}}" 
    data-column-select-display-override="{{colSelectDispOverride}}" 
    data-header-id="{{regionName}}--{{name}}" 
    data-field-master-id="{{fldMstrId}}"
    data-page-dtl-id="{{detailId}}"    
    {{#each dataAttributes}}
        {{dataAttributeWrite name value 'wrapper'}}
    {{/each}}    
    class="{{wrapClass}}">
    {{{inputField}}}
</td>