<div class="module {{recordClass}} layout-grid-4 {{#if status_code}}status-code-{{status_code}}{{/if}}" id="{{id}}">
    <header class="dnd-label">
        <span class="dnd-handle">
            <svg viewBox="0 0 32 32" class="icon">
                <use xlink:href="#icon-menu"></use>
            </svg>
        </span>
        <p>{{module_label}}</p>
        <button type="button" class="module-details-toggle">
            <span class="icon-expand">
                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#icon-expand"></use>
                </svg>
            </span>
            <span class="icon-contract hide">
                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#icon-contract"></use>
                </svg>
            </span>
        </button>
    </header>
    <div class="adf-record-messages"></div>
    <ul class="module-details hide">{{{fields}}}</ul>
</div>